* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
a:hover {
    color: rgb(140, 140, 76);
    transition: all 0.5s ease;

}
a {
    text-decoration: none;
    color: rgb(205, 205, 113);
    font-size: 30px;
}
nav {
    background-color: rgb(193, 193, 108);
    padding: 15px;
    text-align: center;
}
h1 {
    color:  rgb(193, 193, 108);
    text-align: center;

}
p {
    font-size: 25px;
}
img {
    width: 25%;
    float: left;

}
div {
    width: 80%;
}